<div layout="column" layout-align="center center">
    <h3>{{vm.currentCategory.name}}</h3>
</div>

<md-list>
    <md-list-item ng-repeat="note in vm.notes">
        <p
            inline-edit="note.name" 
            inline-edit-on-click
            inline-edit-btn-edit=""
            inline-edit-on-blur="save"
            inline-edit-callback="vm.updateName(note._id, newValue)">
        </p>
        <md-button class="md-icon-button md-accent" ng-click="vm.remove(note._id)" aria-label="Favorite">
            <md-icon md-font-library="material-icons">delete_forever</md-icon>
        </md-button>
        <md-button class="md-icon-button md-accent" ng-click="vm.navigateToNoteInfo(note._id)" aria-label="Favorite">
            <md-icon md-font-library="material-icons">mode_edit</md-icon>
        </md-button>
        <md-checkbox class="md-secondary" ng-model="note.done" aria-label="{{ note.name }}" ng-click="vm.markAsDone(note._id, note.done)"></md-checkbox>
    </md-list-item>
</md-list>